#a
{   
    font-size: 40px;
    text-align: center;
    position:absolute;
    top:25%;
    left:45%;
}

.amc_b { 
    background-color: #0b373d; /* Green background */
    border: none;              /* Remove borders */
    color: white;              /* White text */
    padding: 15px 30px;        /* Some padding */
    text-align: center;        /* Centered text */
    text-decoration: none;     /* Remove underline */
    display: inline-block;     /* Get buttons to line up */
    font-size: 15px;           /* Increase font size */
    margin: 90px 10px;           /* Add some margin */
    cursor: pointer;           /* Pointer/hand icon */
    border-radius:100px;        /* Rounded corners */
}

.amc button:hover {
    background-color: #45a049; /* Darker green on hover */
}

#B
{   
    font-size: 40px;
    text-align: center;
    position:absolute;
    top:25%;
    left:35%;
}

#order
{   
    font-size: 20px;
    text-align: center;
    position:absolute;
    top:37%;
    left:2%;
}

.drop
{   
    font-size: 20px;   
    position:absolute;
    top:40%;
    left:2%;
    width: 100%; /* Adjust as needed */     
}

#choose
{   
    font-size: 20px;
    text-align: center;
    position:absolute;
    top:25%;
}

.table-container {
    margin-top: 65px; /* Adjust as needed */
    width: 100%;
    overflow-x: auto; /* Allows horizontal scrolling if needed */
}

table {
    width: 90%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

.amc_a button:hover {
    background-color: #308991; /* Darker green on hover */
}

.table1 {
    margin-top: 1px; /* Adjust the value as needed to add space below the first table */
    margin-left: 10px;
}

.table2 {
    margin-top: 1px; /* Adjust the value as needed to add space above the second table */
    margin-left: 10px;
}

#amc_renew {
    margin-top: 90px;
    margin-left: 10px;   
}

.fa-shopping-cart:hover {
    color: #007BFF; /* Change color on hover */
}

.cart-icon {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
}